h1
{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
}

h3
{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
}

p
{
  
    font-family: 'Unbounded', cursive;
}

.principal
{
    width: 80%;
    margin: auto;
}